/* Styling for the header tag */
header {
        background-color: #ffffff;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #cccccc;
        background: url(../images/logo.png) no-repeat;
}
