/* Styling for the Places Section */
.container .places {
        background-color: #ffffff;
        width: 96%;
        border-radius: 4px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
}
.places h1 {
        width: 100%;
        text-align: left;
        font-size: 30px;
}
.places article {
        width: 390px;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ff5a5f;
        border-radius: 4px;
        /* text-align: center; */
}
.places article h2 {
        font-size: 30px;
        text-align: center;
}